# Copy to terraform.auto.tfvars after clusters are up and LBs exist:

aws_vpc_id       = "vpc-xxxxxxxx"
app_fqdn         = "app.atlas.internal"
aws_nlb_dns_name = "aee690b12df8c4e9caacc6be1a5d658f-4f92920bd63ba0b5.elb.ap-south-1.amazonaws.com"
azure_lb_ip      = "4.224.234.4"